<a href="https://colab.research.google.com/github/fralfaro/CodingDojo-DataScience/blob/main/docs/12-SQL/12-SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL Alchemy

## Introducción

<img src="https://www.vitoshacademy.com/wp-content/uploads/2015/05/sqlalchemy-logo1.png">

- Biblioteca creada como interfaz de conexión entre el lenguaje Python y bases de datos relacionales SQL.
- Esta interfaz tiene un alto grado de compatibilidad con la biblioteca pandas.
- Soporta múltiples motores de base de datos, tales como SQLite, Postgresql, MySQL, Oracle, MS-SQL, Firebird, Sybase, etc.
-  Si está trabajando en su entorno local, previo a su importación debe ser **instalada** 
    - ```pip install sqlalchemy``` si usa ```pip```
    - ```conda install sqlalchemy``` si usa ```conda```

In [1]:
from sqlalchemy import create_engine
import pandas as pd

# Crea variable para conexión con motor de base de datos. Si la base de datos no existe, se crea
engine = create_engine('sqlite:///data/test.db', echo=True)
# Conexión con base de datos
conn = engine.connect()

# Se utiliza la variable de conexión con el motor para realizar queries SQL sobre la base de datos
query = '''
    select * from Cliente
'''

df = pd.read_sql_query(query, engine)

df

2022-10-06 21:13:39,727 INFO sqlalchemy.engine.Engine
    select * from Cliente

2022-10-06 21:13:39,728 INFO sqlalchemy.engine.Engine [raw sql] ()

   id     nombre         run  dv
0   1   Patricio  11111111.0   1
1   2      Pablo  22222222.0   2
2   3      Jorge  33333333.0   3
3   4  Sebastián  44444444.0   4
4   5   Patricio  55555555.0   5
5   6       Pepe         NaN   6

In [4]:
# Si deseas hacer lecturas de pequeños conjuntos de datos, se puede agregar 
# el parámetro chunk_size al método read_sql_query

it = pd.read_sql_query(query, engine, chunksize=2)

for i in it:
    print(i)

2022-10-06 21:17:58,981 INFO sqlalchemy.engine.Engine
    select * from Cliente

2022-10-06 21:17:58,981 INFO sqlalchemy.engine.Engine [raw sql] ()
   id    nombre       run  dv
0   1  Patricio  11111111   1
1   2     Pablo  22222222   2
   id     nombre       run  dv
0   3      Jorge  33333333   3
1   4  Sebastián  44444444   4
   id    nombre         run  dv
0   5  Patricio  55555555.0   5
1   6      Pepe         NaN   6

In [ ]:
from IPython.core.display import HTML
HTML("""
<style>
.output_png {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
</style>
""")
#codigo extra, para que imagenes de matplotlib
#estén centradas en las diapositivas, ejecutar antes de lanzar los ejemplos.